.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 1%;
}

.card-primary-content {
    width: auto;
    padding: 1em;
}

.fab {
    position: fixed;
    bottom: 15px;
    right: 15px;
}