.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.form-section {
    min-width: 33.3vw;
}

.full-width {
    min-width: 100%;
}