@import '~basscss-flexbox/index.css';
@import '~basscss-grid/lib/grid.css';
@import '~basscss-margin/index.css';
@import '~@material/react-card/dist/card.css';
@import '~@material/react-fab/dist/fab.css';
@import '~@material/react-material-icon/dist/material-icon.css';
@import '~@material/react-text-field/dist/text-field.css';
@import '~@material/react-menu-surface/dist/menu-surface.css';
@import '~@material/react-button/dist/button.css';
@import '~@material/react-list/dist/list.css';
@import "~@material/react-typography/dist/typography.css";
@import "~@material/react-icon-button/dist/icon-button.css";
@import "~@material/react-layout-grid/dist/layout-grid.css";

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}